{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "object-curly-newline": ["error", {
            "ObjectExpression": "always",
            "ObjectPattern": "never",
            "ImportDeclaration": "never",
            "ExportDeclaration": {
                "multiline": true,
                "minProperties": 3
            }
        }],
        "indent": ["error", tab],
        "max-len": ["error", { "code": 160 }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-tabs": "off",
        "react/jsx-indent": [2, 'tab'],
        "import/no-unresolved": [2, {"caseSensitive": false}],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "no-console": ["error", allow: ["log"]],
        "react/jsx-indent-props": [2, 'tab'],
        "comma-dangle": ["error", "never"],
        "class-methods-use-this": ["off"]
    },
    "globals": {
        "document": false,
        "describe": false,
        "it": false,
        "beforeEach": true,
        "window": true
    }
}
