@font-face {
    font-family: LibreFranklin;
    font-weight: normal;
    src: url('/src/assets/fonts/Libre_Franklin/LibreFranklin-Medium.ttf');
}

.namesGame {
	font-family: LibreFranklin;
	font-weight: normal;
	color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
