@font-face {
    font-family: LibreFranklin;
    font-weight: normal;
    src: url('/src/assets/fonts/Libre_Franklin/LibreFranklin-Medium.ttf');
}

@font-face {
    font-family: Cormorant;
    font-weight: normal;
    src: url('/src/assets/fonts/Cormorant/Cormorant-Medium.ttf');
}

.employeeBoard {
	width: 100%;
	font-family: LibreFranklin;
	font-weight: normal;
	color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.textSpan {
	font-family: LibreFranklin;
	font-weight: normal;
	font-size: 36px;
	margin-top: 30px;
}

.namesGame {
	text-align: center;
}

.missed {
	opacity: .2;
}
// .namesGame {
// 	color: gray;
// 	font-family: Cormorant;
// 	font-weight: normal;
// 	display: inline-block;
// }
