.employeeBox {
	height: 10vw;
	width: 10vw;
	max-height: 220px;
	max-width: 220px;
	background-color: hsla(1,1,1, 0);
	margin: 50px 2vw;
}
.jobTitle {
	font-size: 12px;
	text-align: center;
}
img {
	border: solid 2px navy;
	border-radius: 10px;
	height: 10vw;
	width: 10vw;
	max-height: 220px;
	max-width: 220px;
}
